@import '~bulma';
@import '@creativebulma/bulma-tooltip/dist/bulma-tooltip.css';
@import 'vue-collapsible-panel.scss';
@import 'smarttable.sass';
@import 'vue-select/dist/vue-select.css';

.is-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.vs__dropdown-toggle {
    height: 2.5em;
}

ul.vs__dropdown-menu {
    list-style: none !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.chat {
    background-color: $background;
}

.chat .message {
    padding: 0.2em 0.5em;
    border-radius: 12px 12px 12px 0;
    background-color: white;
}

.chat .notify {
    padding: 0.2em 0.5em;
    border-radius: 12px;
    background-color: white;
    text-align: center !important;
}

.chat .message:not(:last-child),
.chat .notify:not(:last-child) {
    margin-bottom: 0.4em;
}

.chat .message p:not(:last-child) {
    margin-bottom: 0;
}

.chat [disabled].textarea {
    background-color: white;
}
